<!DOCTYPE html>
<html>
<head>
    <title>INSPINIA | Login</title>
    <script th:replace="~{@{admin/includes/common/top}}" />
</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">IN+</h1>
            </div>
            <h3>Welcome to IN+</h3>
            <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
            </p>
            <p>Login in. To see it in action.</p>
            <form class="m-t" role="form" action="index.html">
                <div class="form-group">
                    <input id="input_id" type="email" class="form-control" placeholder="Username" required="">
                </div>
                <div class="form-group">
                    <input id="input_password" type="password" class="form-control" placeholder="Password" required="" onKeyPress="if(event.key === 'Enter'){adminLogin(input_id.value, input_password.value)}">
                </div>
                <button type="button" class="btn btn-primary block full-width m-b" onclick="adminLogin(input_id.value, input_password.value)">Login</button>
            </form>
        </div>
    </div>
	<script th:replace="~{@{admin/includes/common/bottom}}" />
	<script type="module">
		import {adminLogin} from "/assets/admin/common/js/tbuser/login.js";
		window.adminLogin = adminLogin;
	</script>
</body>
</html>
