<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

<body th:replace="~{@{includes/head}}"></body>
</head>

<body>
	<div class="container-scroller">

		<!-- partial:partials/_navbar.html -->

		<body th:replace="~{@{includes/navbar}}"></body>
		<!-- partial -->

		<div class="container-fluid page-body-wrapper">
			<!-- partial:partials/_settings-panel.html -->
			<div class="theme-setting-wrapper">
				<div id="settings-trigger"><i class="ti-settings"></i></div>
				<div id="theme-settings" class="settings-panel">
					<i class="settings-close ti-close"></i>
					<p class="settings-heading">SIDEBAR SKINS</p>
					<div class="sidebar-bg-options selected" id="sidebar-light-theme">
						<div class="img-ss rounded-circle bg-light border me-3"></div>Light
					</div>
					<div class="sidebar-bg-options" id="sidebar-dark-theme">
						<div class="img-ss rounded-circle bg-dark border me-3"></div>Dark
					</div>
					<p class="settings-heading mt-2">HEADER SKINS</p>
					<div class="color-tiles mx-0 px-4">
						<div class="tiles success"></div>
						<div class="tiles warning"></div>
						<div class="tiles danger"></div>
						<div class="tiles info"></div>
						<div class="tiles dark"></div>
						<div class="tiles default"></div>
					</div>
				</div>
			</div>

			<!-- partial:partials/_sidebar.html -->

			<body th:replace="~{@{includes/sidebar}}"></body>
			<!-- partial -->

			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-md-6 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Default form</h4>
									<p class="card-description">
										Basic form layout
									</p>
									<form class="forms-sample" id="form_tbuser_create">
										<div class="form-group">
											<label for="exampleInputUsername1">ID</label>
											<input type="text" class="form-control" id="create_tbuser_email" name="email" placeholder="ID">
										</div>
										<div class="form-group">
											<label for="exampleInputPassword1">Password</label>
											<input type="text" class="form-control" id="create_tbuser_password" name="password" placeholder="Password">
										</div>
									</form>
									<button type="submit" class="btn btn-primary me-2" onclick="update_tbuser()">Submit</button>
									<button class="btn btn-light">Cancel</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- content-wrapper ends -->
				<!-- partial:partials/_footer.html -->
				<body th:replace="~{@{includes/footer}}"></body>
				<!-- partial -->
			</div>

			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->

	<body th:replace="~{@{includes/bottom}}"></body>
	
	<script type="text/javascript">
function update_tbuser() {
	
	$.ajax({
		url: "/api/tbuser/login",
		method: "POST",
		headers: {"Content-Type": "application/json"},
		data: JSON.stringify({
			email: "xx123x@xxxx.com",
	    	password: "testPass1!",
		}),
		success: (data, status, xhr)=>{
			//adminLocalAccessToken = xhr.getResponseHeader("Authorization");
        	alert("success : " + JSON.stringify(data) + " // Authorization : " + xhr.getResponseHeader("Authorization"));
		},
		error: (data)=>{
        	alert(JSON.stringify(data));
		}
	});
	
}
</script>

</body>

</html>