	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Admin</title>
	<!-- plugins:css -->
	<link rel="stylesheet" href="/resources/frontadmin/template/vendors/feather/feather.css">
	<link rel="stylesheet" href="/resources/frontadmin/template/vendors/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="/resources/frontadmin/template/vendors/ti-icons/css/themify-icons.css">
	<link rel="stylesheet" href="/resources/frontadmin/template/vendors/typicons/typicons.css">
	<link rel="stylesheet" href="/resources/frontadmin/template/vendors/simple-line-icons/css/simple-line-icons.css">
	<link rel="stylesheet" href="/resources/frontadmin/template/vendors/css/vendor.bundle.base.css">
	<!-- endinject -->
	<!-- Plugin css for this page -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables.net-bs4/1.11.2/dataTables.bootstrap4.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="/resources/frontadmin/template/js/select.dataTables.min.css">
	<!-- End plugin css for this page -->
	<!-- inject:css -->
	<link rel="stylesheet" href="/resources/frontadmin/template/css/vertical-layout-light/style.css">
	<!-- endinject -->
	<link rel="shortcut icon" href="/resources/frontadmin/template/images/favicon.png" />